<header class="page-header">
  <div class="container header-container">
    <a class="header-logo" href="index.html">
      <svg width="66" height="52">
        <use href="/img/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="header-menu">
      <ul class="header-menu-list">
        <li class="header-menu-item"><a class="header-menu-link" href="index.html">Home</a></li>
        <li class="header-menu-item"><a class="header-menu-link" href="#about">About</a></li>
        <li class="header-menu-item"><a class="header-menu-link" href="#service">Service</a></li>
        <li class="header-menu-item"><a class="header-menu-link" href="#menu">Menu</a></li>
        <li class="header-menu-item"><a class="header-menu-link" href="#contact">Contact</a></li>
      </ul>
    </nav>
    <button class="main-button" type="button">Order Now</button>
    <button class="burger-btn" type="button" data-modal-open>
      <svg width="24" height="24">
        <use href="/img/icons.svg#icon-btn-burger"></use>
      </svg>
    </button>
  </div>
</header>
